@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
   
}

.container  {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
  background-color: #000000;
  background-image: 
  url(/images/auto2.jpg);
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        min-height: 70vh;
        /* display: flex; */
        align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #DAA520;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover{
    color: #8a8326;

}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;

}

ul,
ol {
  list-style: none;
}


.main {
  padding: 40px 0;
}

.main__title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 70px;
  color: #DAA520;
  text-shadow: 2px 2px 4px black; 
  text-transform: uppercase;

}

.services-container {
  display: flex;
  justify-content: space-between;
}

.section {
  background-color: #030202;
  padding: 20px;
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 48%;
  text-transform: uppercase;

}

.section__title {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #DAA520;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px black; 


}

.form_task, .ServicesForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__label {
  font-size: 1em;
  text-transform: uppercase;

}

.form__input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  text-transform: uppercase;

}

.form__textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  height: 150px; /* Ajusta la altura según tus necesidades */
  resize: vertical; /* Permite al usuario ajustar la altura */

}

#serviceNameInput {
  width: 100%; /* Achica el input de nombre del servicio */
}
.ServicesForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__button {
  padding: 9px 10px; /* Reduce el padding para hacer el botón más pequeño */
  font-size: 14px; /* Reduce el tamaño de la fuente */
  width: fit-content; /* Ajusta el ancho automáticamente según el contenido */
  background-color:  #d19f22;
  color: #fff;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block; /* Asegura que el botón no se alargue */
  align-self: center; /* Centra el botón horizontalmente */
  margin: 12px;
  text-transform: uppercase;

}

.form__button:hover {
  background-color: #aa8321;
}

.form__label{
  color: white;
}
p{
  color: white;
}
h3{
  color: rgb(255, 254, 251);
}


.error {
  text-align: center;
  color: red;
}

.tasks__item, .service__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.tasks__item p, .service__item p {
  margin: 0;
}

.tasks__item .description, .service__item .description {
  font-size: 0.9em;
  color: #666;
}

.done {
  text-decoration: line-through;
}

.bx-check {
  color: green;
  cursor: pointer;
}

.bx-trash {
  color: red;
  cursor: pointer;
}














footer{ 
  background-color: rgb(0, 0, 0);
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
Hover affect on social media icon 
.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #000;
  padding: 10px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
} 
